<li><!-- Vote count -->
          <button formaction="/votes" formmethod="post" class="upvote" type="button">+1</button> | <button formaction="/votes" formmethod="post" class="downvote" type="button">-1</button> |
          Votes: <span class="votes-container">0</span> |
          <!-- End vote count --><%= @question.question_text %>| <b>by: </b>
          <!-- End vote count --><%= @current_user.first_name %> | <a href="#">comment</a> | <a href="#">answer</a> | <%= @question.created_at %> </li>
