<h1>DBC Overflow Questions</h1>

<div id="new-question-form-container">
<a id="new-question" href="/questions">Create a new question </a>
</div>

<br>

<div id="submit-new-question-container" style="display: none">
    Create your question below, or <a id="hide-form" href="/questions"> hide this form</a>
    <form id="submit-new-question" action="/questions" method="post">
    <textarea id="question-form" name="question[question_text]" rows="5"></textarea><br>
    <input type="submit" value="Submit">
  </form>
  <br>
</div>

<ul class="list">
  <% @questions.reverse.each do |question| %>
  <li><!-- Vote count -->
          <button formaction="/votes" formmethod="post" class="upvote" type="button">+1</button> | <button formaction="/votes" formmethod="post" class="downvote" type="button">-1</button> |
          Votes: <span class="votes-container">0</span> |
          <!-- End vote count --><%= question.question_text %> | <b>by: </b>
          <!-- End vote count --><%= @users.find_by(id: question.user_id).first_name %> | <a href="#">comment</a> | <a class="new-answer" action="/answers" method="get" href="/answers">answer</a> | <a href="/questions/<%=question.id %>">details</a> | <%= question.created_at %>
  </li>
    <div class="submit-new-answer-container" style="display: none">
      Give your answer below, or <a class="hide-answer-form" action="/answers" method="get" href="/answers"> hide this form</a>
      <form id="submit-new-answer" action="/answers" method="get">
      <textarea name="answer[answer_text]" rows="5"></textarea><br>
      <input type="submit" value="Submit">
    </form>
    <br>
    </div>
  <% end %>
</ul>





