 <div>
  <h1>Question:</h1>
  <ul class="collection">
      <li class="collection-item">Suggestion: <%= @question.question_text %></li>
  </ul>
</div>
<div>
  <form action="/questions/<%= @question.id %>/edit" method="get">
  <input type="submit" class="btn btn-danger" value="Edit">
  <!-- back up edit link  -->
  <!-- <a href="/questions/<%= @question.id %>/edit ">edit</a> -->
  </form>
</div>

<div>
<form action="/questions/<%= @question.id %>" method="post">
    <input type="hidden" id="hidden" name="_method" value="delete">
    <input type="submit" class="btn btn-danger" value="Delete!">
  </form>
</div>
