<% if @error %>
  <%= @error %>
<% end %>

<h1>Login </h1>

<form id="login-user" method="POST" action="/sessions">
  <input type="text" name="username" placeholder="Username" />
  <input type="password" name="password" placeholder="Password" />
  <input type="submit" value="Log In!" />
</form>
