<h1>New Comment</h1>

<form id="new-comment-form" class="flex flex-row" method="post" action="/comments">
  <span class="input-group-label">Type this little ditty below!</span>
  <label class="input-group col-1-3">

    <textarea id="comment-name" class="input-group-input" rows="5" type="text" name="comment[comment_text]"></textarea>

  </label>
  <label class="input-group col-1-3">
  <input type="hidden" name="commentable_type" value="<%= params[:id] %>" />
  </label>

  <label class="input-group col-1-3">
  <input type="hidden" name="commentable_id" value="<%= params[:id] %>" />
  </label>

  <label class="input-group col-1-3">
  <input type="hidden" name="user_id" value="<%= @new_comment.try(:current_user) %>" />


  <button type="submit" class="button dark">Submit</button>
</form>
