<h1> Sign Up a New user </h1>

<form id="new-user" method="POST" action="/users">
  <input type="text" name="user[first_name]" placeholder="First Name" />
  <input type="text" name="user[last_name]" placeholder="Last Name" />
  <input type="text" name="user[username]" placeholder="Username" />
  <input type="text" name="user[email]" placeholder="Email" />
  <input type="password" name="user[password]" placeholder="password" />
  <input type="submit" name="Create a new user" />
</form>
